nav{
   background-color: rgba(22, 22, 21, 0.801);
   padding: 16px;
   position:fixed;
   width:100%;
}
nav a{
  color: #b8fa03;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
}
nav a:hover{
  background-color: rgb(248, 0, 21);
  color: black;
  border-radius: 20px;
}
footer{
  background-color: rgba(243, 130, 96, 0.836);
  height: 10%;
  text-align: center;
  width: 100%;
  position: absolute;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}